:root {
    /*文字色*/
    --primary: #6d8cbc;
    --secondary: #7d9ab8;
    --info: #89849a;

    --background: #eeedec;

    /* 底線，裝飾性顏色 */
    --grown: #c59b89;
    --gray: #c4c8d0;

    /* 版型 */
    --light-brown: #d7bdaf;
    --light-blue: #acb9cf;
    --light-pink: #cda59d;

}



.button {
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 16px;
    color: #fff;
    text-align: center;
    background-color: #3d5a86;
    border: 1px solid #3d5a86;
  }
  
  .title {
    font-family: "Noto Serif TC", serif;
    font-weight: 900;
    line-height: 1.5em;
    font-size: 48px;
    letter-spacing: 1.8px;
    color: #3d5a86;
  }
  
  .sub-title {
    font-family: "Noto Serif TC", serif;
    line-height: 1.5em;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #7d9ab8;
  }
  
  .third-subtitle {
    font-family: "Noto Serif TC", serif;
    line-height: 1.5em;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1.2px;
    color: #89849a;
  }
  
  p,
  h4,
  a,
  h5,
  h6,
  span,
  tl,
  td,
  .text {
    font-family: "Noto Serif TC", serif;
    line-height: 1.5em;
    font-size: 16px;
    letter-spacing: 1.2px;
    color: #888;
  }
  
  img {
    /* max-width: 100%; */
    vertical-align: bottom;
  }
  
  .bg-A {
    background-color: #acb9cf;
  }
  
  .bg-B {
    background-color: #d7bdaf;
  }
  
  .bg-C {
    background-color: #cda59d;
  }

body {
    background-color: var(--background);
}

* {
    font-family: 'Noto Serif TC', serif;
}
/* ------------------ header start ---------------------------- */
header{
  background-color:var(--primary);
  z-index: 2000;
}
.dropdown-menu[data-bs-popper].end-dropdown-menu{
  left: -100px;
}

.dropdown-item:hover{
  color: saturate(var(--light-pink), 50%);
}
.dropdown-item {
  color: var(--primary);
}
.nav-link{
  color: #fff;
}
.nav-link:focus, .nav-link:hover,
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
  color: saturate(var(--light-pink), 50%);
}
.person-id i{
  font-size: 20px;
}
.end-dropdown-menu p{
  text-align: center;
  color: saturate(var(--light-pink), 50%);
  margin: 16px 0;
}

/* ------------------ header end ---------------------------------- */
/* ------------------nav start--------------------------- */


.side-section {
    width: 20%;
    min-width: 250px;
    height: 100vh;
    padding-top: 5%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background-color: #acb9cf;
    transition: 0.3s;
  }
  .side-section button {
    padding: 10px 10px;
  }
  .side-section > * {
    width: 80%;
  }
  @media (max-width: 768px) {
    .side-section {
      position: fixed;
      left: -100%;
    }
  }
  .group-user {
    padding-top: 15%;
  }
  
  .group-user .box-img-user {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 7px solid #acb9cf;
  }
  .group-user .box-img-user .img-user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .group-user .name-user {
    font-size: 3em;
    color: #eeedec;
  }
  .group-user .gender-user {
    color: #eeedec;
  }
  
  .nav-user ul {
    padding: 0;
  }
  .nav-user ul li {
    padding: 5px 0;
  }
  .nav-user ul li .button {
    background-color: #7d9ab8;
    color: #000;
    display: block;
    margin: 0;
    transition: 0.3s;
    width: 100%;
    box-sizing: border-box;
    font-weight: 800;
    text-decoration: none;
  }
  .nav-user ul li .button:hover {
    color: #6f6a81;
    background-color: #4d72a9;
    border: 1px solid #4d72a9;
  }
  .nav-user ul li .nav-button * {
    display: block;
    margin: 0;
    transition: 0.3s;
  }
  .nav-user ul li .button p{
    font: 1em sans-serif;
    color: #000;
    font-weight: 800;
  }
  .nav-user ul li .button .nav-button p:hover*{
    color: #eeedec;
  }

/* ------------------ nav end -------------- */
.main-container{
  padding-left: 20%;
}

.info{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 1rem;
    align-items: center;
    max-width: 1200px;
}
.info h2{
    padding: 2rem;
}

.info-group{
    display: flex;
    width: 80%;
}
.info-group .pic{
    margin-top: 6rem;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.info-group .pic img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.info-group .pic p{
    margin-top: 3rem;
}
.info-group .text{
    padding: 2rem;
    flex-grow: 1;
}
.info .box{
    padding: 1rem;
    margin: 1rem 0;
    background: rgb(253,252,250);
    width: 100%;
    border: transparent;
    border-radius: 8px;
}
.detail-group{
    display: flex;
    width: 80%;
}
.detail-group .detail-1{
    padding: 2rem;
    flex-grow: 1;
}
.detail-group .detail-2{
    padding: 2rem;
    flex-grow: 1;
}

/* 變更密碼 */
.pwchange{
    padding: 2rem;
    width: 80%;
}

.button{
    padding: 10px 20px;
    border-radius: 16px;
    color: #fff;
    text-align: center;
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

@media screen and (max-width: 768px) {
    .nav{
        left:-120%;
    }
    .info-group .pic{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .main-container{
      padding: 0;
    }
    

    .info-group{
        display: block;
        width: 90%;
    }
    .detail-group{
        display: block;
        width: 90%;
    }
    .pwchange{
        width: 90%;
    }
}
